
body {
    font-family: Arial, sans-serif;
    text-align: center;    
    color: lime;
    background-color: black;

}



#canvas {
    border: 2px solid lime;
    padding: 2px;
    width: 40%;
    image-rendering: pixelated; /* For crisp scaling */
    image-rendering: crisp-edges; /* Alternative for some browsers */
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.yellow {
    color: yellow;
}

.lime {
    color: lime;
}

.cyan {
    color: cyan;
}

.magenta {
    color: magenta;
}

.white {
    color: white;
}

.black {
    color: gray
}

#brushLabel {
    margin-bottom: 0;
}